<div class="pageStyle">
  <fieldset class="lineItUp">

    <h1>{{title}}</h1>
    <div>{{subtitle}}</div><br>
    <input type="text" class="bigText" placeholder="Filter your to-dos">

    <table>
      <ol>
        <div *ngFor="let item of toDoList">
          <li>
            <tr>
              <td><button class="completeButton" *ngIf="item.completed==false" (click)="completeTask(item)">Complete</button></td>
              <td class="task"><span [ngClass]="{'completed' : item.completed == true}">{{item.task}}</span></td>
              <td><button class="removeX" (click)="removeTask(item)"><b>X</b></button></td>
            </tr>
          </li>
        </div>
      </ol>
    </table>

    <b *ngIf="completeToDoList()">Congratulations! You finished everything on your to-do list for the day!</b>

    <input type="text" class="bigText" #newTask (keyup.enter)="addTask(newTask.value); newTask.value=''" placeholder="Add your to-do">
    <br />
    
    <button class="addButton" (click)="addTask(newTask.value); newTask.value=''">Add</button>
  </fieldset>
</div>
