<div class="pageStyle">

  <div class="toDoStyle">
    <h1>{{title}}</h1>
    <p><b>A place to store your todos</b></p>

    <li>
      <ol class="toDoStyle">
        <div *ngFor="let toDoList of List">
          <button class="completeButton" *ngIf="item.complete==false" (click)="completeTask(item)">Complete</button> {{item.task}}
          <button (click)="removeTask()">X</button>
        </div>
      </ol>
    </li> 
    <br>
    
    <input type="text" class="addToDo" placeholder="Add your to-do" #userinput (keyup.enter)="addTask(userinput.value); userinput.value=''" (blur)="addTask(userinput.value); userinput.value=''">
    <button class="addButton" (click)="addTask(userinput.value); userinput.value=''">Add</button>
  </div>
    
  
</div>